[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/meateam/api-gateway
[submodule "authentication-service"]
	path = authentication-service
	url = https://github.com/meateam/authentication-service
[submodule "delegation-service"]
	path = delegation-service
	url = https://github.com/meateam/delegation-service
[submodule "download-service"]
	path = download-service
	url = https://github.com/meateam/download-service.git
[submodule "drive-ui"]
	path = drive-ui
	url = https://github.com/meateam/drive-ui
[submodule "file-service"]
	path = file-service
	url = https://github.com/meateam/file-service
[submodule "permission-service"]
	path = permission-service
	url = https://github.com/meateam/permission-service
[submodule "permit-service"]
	path = permit-service
	url = https://github.com/meateam/permit-service
[submodule "search-service"]
	path = search-service
	url = https://github.com/meateam/search-service
[submodule "spike-service"]
	path = spike-service
	url = https://github.com/meateam/spike-service
[submodule "upload-service"]
	path = upload-service
	url = https://github.com/meateam/upload-service
[submodule "user-service"]
	path = user-service
	url = https://github.com/meateam/user-service
[submodule "listener-service"]
	path = listener-service
	url = https://github.com/meateam/listener-service
[submodule "hi-service"]
	path = hi-service
	url = https://github.com/meateam/hi-service
